{% extends "base.html" %}

{% block page_title %}
    Privacy Policy
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
     
    <div class="container mx-auto my-10 mt-20 text-gray-800 font-sans min-h-50vh">
            <h1 class="font-medium text-xl text-center">Privacy Policy</h1>
        <div class="text-gray-700 font-medium w-full text-left">
            <span> Easy Rental has a Privacy Policy that discloses the internal practices and handling of personal data.</span>
            <ol>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Account Creation-</span> Some sections of the website can be accessed by only registered users, who have created an account on Easy Rental. For creating an account, your email address will be verified. Easy Rental has all the rights to seize account creation on the website if it finds any inappropriate content, information, or listing and would not be answerable. Easy Rental also reserves the right to charge for account creation or access to the landlord’s/tenant’s information.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Personal Information-</span> While creating an account, you will be asked your email address and password which will be used for allowing authorized access. To get access to a suitable network, you will be asked name and contact information and are requested to keep the information up to date. You are free to create a profile that includes your house requirements such as photos and can be viewed by other users also. We keep a record of the information associated with conversations, including email addresses and content. We may use this information to provide personalized advertisements and offers.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Common Rules-</span> When you post a house listing at Easy Rental, you acknowledge and grant permission to Easy Rental, its associates, and users to get in touch with the owner.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Security and Safety-</span> All accounts are password protected and all standard rules have been followed. If the user has any questions about security on Easy Rental, he/she should contact us. Though, we protect you from unauthorized disclosures but do not guarantee that your data will never be revealed in any manner against the Privacy Policy.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Protecting Data-</span> For any concerns, grievances, and suggestions related to this subject or our method of protecting data, you may contact our Privacy Team. If you are still not satisfied with our response, we ask you to contact our Data Protection Team. You even have the right to file a complaint to the local authorities.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Advertisement Services-</span> We use 3rd party applications to analyze your activities, and provide you with user-centric advertisements. We may also you Google API for providing such information. We use tools and technology to analyze your preferences and provide you with tailored information and suggestions.</li>
            </ol>
        </div>
    </div>
{% endblock content %}

