{% extends "base.html" %}

{% block page_title %}
    Terms & Conditions
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
     
    <div class="container mx-auto my-10 mt-20 text-gray-800 font-sans min-h-50vh">
            <h1 class="font-medium text-xl text-center">Terms & Conditions</h1>
        <div class="text-gray-700 font-medium w-full text-left">
            <span> To get access to the website, you must accept the Terms & Conditions</span>
            <ol>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Access to website-</span> hould use a valid username. Username is the mobile number/email-id. This information will be validated before creating an account. We reserve the right to forfeit the account if it is found to be a broker account. They will be responsible for the security of the password and account and the activities performed using your account.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Authentication Information-</span> We will be asking you to provide your name, e-mail id, mobile number, and house details. All the authentication information provided must be latest, accurate, and complete as it would be presented on the website. The user may be asked to provide information to verify that he/she is an actual owner/tenant and not a broker.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Profile-</span> Their profile may not include photographs containing nudity, obscene, excessively violent, harassing, or objectionable subject. We reserve the right to reject or disable the account if such content is found. Despite all such guidelines, it may be possible that information provided by other Easy Rental users may contain nudity, obscene, excessively violent subjects. Easy Rental does not take any responsibility for such kind of material. However, we request visitors to keep our website clean and contact us in case of any violation of the guidelines.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Location Information- </span> Easy Rental uses 3rd party services like Google Maps, Stripe payment services. We do not guarantee the quality and integrity of any information. Additionally, the exchange with businesses, including payment and food delivery is completely between the tenant and the business. We don’t hold any responsibility for the loss/damage suffered between them and business parties.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Registration Assistance-</span> To make the tenant’s house search easy, we take the services of 3rd party agents for the license registration. However, we don’t take up the responsibility in terms of quality and dedicated services of 3rd party services and are not liable for any damage on part of the tenant.</li>
                <li type="1" class="py-2 font-normal"><span class="font-semibold text-black">Communication over Email-</span> To provide better assistance, we may communicate via e-mail. By agreeing to our Terms and Conditions, you agree to receive e-mails. These emails will consist of location information, precautions, and suggestions for 3rd party offers. However, you are free to unsubscribe to emails.</li>
            </ol>
        </div>
    </div>
{% endblock content %}

