@tailwind base;

@tailwind components;

.search-box{
    transition: box-shadow 0.2s linear;
}

input,
textarea,
select {
    @apply w-full text-left border-teal-500 px-3 border-2 text-gray-700 m-auto mb-4 rounded-md font-light text-lg h-12;
    &:focus {
        @apply outline-none border-teal-500;
    }
}

textarea{
    resize: none;
    height: 80px;
}

select{
    height: 30px;
}

.cal-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-items: center;
}


@tailwind utilities;